<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Wikipedia edits by hashtag</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="/hashtags/static/css/normalize.css">
  <link rel="stylesheet" href="/hashtags/static/css/skeleton.css">
  <link rel="stylesheet" href="/hashtags/static/css/style.css">

  <script type="text/javascript" src="/hashtags/static/js/jquery.js"></script> 
  <script type="text/javascript" src="/hashtags/static/js/search.js"></script> 

  <script>
  </script>
</head>
<body>
  <div class="section page-header">
    <div class="container">
      <div class="row">
	<div class="full column" style="margin-top: 5%">
          <h1><a href="/hashtags">Wikipedia social search</a></h1>
	  <p>Search for <a href="http://blog.hatnote.com/post/112756032432/the-humble-hashtag-now-on-wikipedia">hashtags</a> in Wikipedia edit summaries</p>
	</div>
      </div>
    </div>
  </div>
  <div class="container docs">
    <h2>Documentation</h2>
    <p>On Wikipedia, anyone can include a hashtag in their edit summary when adding to the sum of human knowledge:</p>
    <img src="http://31.media.tumblr.com/89e0dadf1eb2059d6811134ecd75e92c/tumblr_inline_nkq9fdb40Z1ql4e1e.png">
    <p>Learn more <a href="http://blog.hatnote.com/post/112756032432/the-humble-hashtag-now-on-wikipedia">on the Hatnote blog</a>.</p>
    <h3>What is a hashtag?</h3>
    <p>We follow <a href="https://github.com/twitter/twitter-text/blob/master/conformance/autolink.yml#L128">Twitter's specification</a> (mostly) for hashtags: a hash mark (#) followed by one or more alphanumeric characters. Similarly, a mention is an at sign (@) followed by one or more alphanumeric characters. Hashtags shouldn't include any punctuation or only numbers.</p>
    <p>We use a version of this regular expression to match tags and mentions in the edit summary:</p>
    <script src="https://gist.github.com/mahmoud/237eb20108b5805aed5f.js"></script>  
    <h3><a name="download"></a>Downloading results</h3>
    <p>You can download CSV results for a hashtag at <code>http://tools.wmflabs.org/hashtags/csv/&lt;tag&gt;?limit=&lt;limit&gt;</code>. If you do not provide a <code>limit</code> parameter, it will return 20,000 revisions by default. You can also optionally provide a <code>lang</code> parameter to limit your results to one version of Wikipedia. (You can also do <code>lang=wikidata</code>).</p>
    <p>The columns in the CSV download are based on the RecentChanges table in the MediaWiki database. See the <a href="https://www.mediawiki.org/wiki/Manual:Recentchanges_table#Fields">MediaWiki docs for more information</a> on these fields.</p>
    <h3>Which languages do you support?</h3>
    <p>We currently support a few languages that are included in the search bar above. We are incrementally rolling out support for other languages. If you are running an edit-a-thon on a Wikipedia we don't currently support, <a href="https://github.com/hatnote/hashtags/issues/new">open an issue on github</a>. We may even be able to load past edits (within the previous 60 days).</p>
  </div>
</div>
<div class="section page-footer">
  <div class="container">
    <div class="row">
      <div class="full width">
        <p><a href="http://blog.hatnote.com/post/112756032432/the-humble-hashtag-now-on-wikipedia">Learn more</a>. Built by <a href="https://twitter.com/sklaporte">Stephen LaPorte</a> and <a href="https://twitter.com
/mhashemi">Mahmoud Hashemi</a>. Our source code is <a href="https://github.com/hatnote/hashtag-search">available on github</a>.
      </div>
    </div>
  </div>
</div>
</body>
</html>
