<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Wikipedia edits by hashtag</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="/hashtags/static/css/normalize.css">
  <link rel="stylesheet" href="/hashtags/static/css/skeleton.css">
  <link rel="stylesheet" href="/hashtags/static/css/style.css">

  <script type="text/javascript" src="/hashtags/static/js/jquery.js"></script> 
  <script type="text/javascript" src="/hashtags/static/js/search.js"></script> 

  <script>
  </script>
</head>
<body>
  <div class="section page-header">
    <div class="container">
      <div class="row">
	<div class="full column" style="margin-top: 5%">
          <h1><a href="/hashtags">Wikipedia social search</a></h1>
	  <p>Search for <a href="http://blog.hatnote.com/post/112756032432/the-humble-hashtag-now-on-wikipedia">hashtags</a> in Wikipedia edit summaries</p>
	</div>
      </div>
    </div>
  </div>
  <div class="container docs">
    <h2>Logs for {lang}</h2>

    <p><a href="http://tools.wmflabs.org/hashtags/logs">Back to overall stats</a></p>

    <table>
      <tr>
	<th>uuid</th>
	<th>start</th>
	<th>complete</th>
	<th>command</th>
	<th>output</th>
      </tr>
      {#logs}
      <tr>
	<td>{uuid}</td>
	<td>{start_time}</td>
	<td>{end_time}</td>
	<td>{command}</td>
	<td>{output}</td>
      </tr>
      {/logs}
    </table>
  </div>
</div>
<div class="section page-footer">
  <div class="container">
    <div class="row">
      <div class="full width">
        <p><a href="http://blog.hatnote.com/post/112756032432/the-humble-hashtag-now-on-wikipedia">Learn more</a>. Built by <a href="https://twitter.com/sklaporte">Stephen LaPorte</a> and <a href="https://twitter.com
/mhashemi">Mahmoud Hashemi</a>. Our source code is <a href="https://github.com/hatnote/hashtag-search">available on github</a>.
      </div>
    </div>
  </div>
</div>
</body>
</html>
